// > Product
// ----------------------------------------------------------------

$product-border-color: #ccc !default;
$product-price-color: #900 !default;
$product-annotation-color: #999 !default;
$product-carousel-item-size: 100px !default;