<!doctype html>
<!--[if IE 7]>  <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7" lang="en"> <![endif]-->
<!--[if IE 8]>  <html class="no-js lt-ie10 lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if IE 9]>  <html class="no-js lt-ie10 ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Product Widget - UX Test</title>

    <!-- Mobile viewport optimization http://goo.gl/b9SaQ -->
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="cleartype" content="on">

    <link rel="stylesheet" href="/bower_components/mesh/index.css">
    <link rel="stylesheet" href="/dist/ui/product-widget.css">
    
</head>

<body>
    
    <section class="product">
        <h1>Ipad Mini Apple 16GB Wifi Led 7.9</h1>
        <div class="mesh-row">
            <div class="product-image mesh-col-s-4 mesh-col-l-6">
                <img src="static/placeholder-500x450.png" alt="Product name">
            </div>
            <div class="product-description mesh-col-s-8 mesh-col-l-6">
                <div class="ch-price">$ 4799<sup>99</sup></div>
                <form>
                    <label>
                        Quantity
                        <select>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </label>
                    <label>
                        Payments
                        <select>
                            <option>1</option>
                            <option>3</option>
                            <option>6</option>
                            <option selected>12</option>
                            <option>18</option>
                        </select>
                    </label>
                    <button type="submit" class="ch-btn ch-btn-large">Buy</button>
                </form>
                <p class="annotation">MercadoLibre isn't the owner of this product</p>
                <article class="more-products">
                    <h2>More products like this</h2>
                    <div class="more-carousel ch-carousel">
                        <ul>
                            <li><img src="static/placeholder-100x100.png" alt="Product name"></li>
                            <li><img src="static/placeholder-100x100.png" alt="Product name"></li>
                            <li><img src="static/placeholder-100x100.png" alt="Product name"></li>
                            <li><img src="static/placeholder-100x100.png" alt="Product name"></li>
                            <li><img src="static/placeholder-100x100.png" alt="Product name"></li>
                            <li><img src="static/placeholder-100x100.png" alt="Product name"></li>
                            <li><img src="static/placeholder-100x100.png" alt="Product name"></li>
                            <li><img src="static/placeholder-100x100.png" alt="Product name"></li>
                            <li><img src="static/placeholder-100x100.png" alt="Product name"></li>
                            <li><img src="static/placeholder-100x100.png" alt="Product name"></li>
                            <li><img src="static/placeholder-100x100.png" alt="Product name"></li>
                            <li><img src="static/placeholder-100x100.png" alt="Product name"></li>
                        </ul>
                    </div>
                </article>
            </div>
        </div>
        <hr>
        <div class="products-tabs">
        </div>
    </section>

    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/dist/ui/chico.js"></script>
    <script>
        // Carousel
        var carousel = $(".more-carousel").carousel({"pagination": true});

        // Tabs
        var tabs = $(".product-tabs").tabs();
        // Form
        var m = $.modal();
        var form = $('form').form()
                 .on('success', function (event) {
                     event.preventDefault();
                     m.show();
                 })
                 .on('error', function (errors) {
                     console.log(errors);
                 });

    </script>
</body>
</html>
